:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
*:focus {
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* Start sidebar  */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
}
.sidebar > h3::after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid white;
  bottom: -29px;
}
.sidebar > h3::before,
.sidebar > h3::after {
  content: "";
  position: absolute;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
}
.sidebar ul li a.active,
.sidebar ul li a:hover {
  background-color: #f6f6f6;
}
.sidebar ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.sidebar ul li a span {
  font-size: 14p;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3::before,
  .sidebar > h3::after {
    display: none;
  }
  .sidebar ul li a span {
    display: none;
  }
  .sidebar > h3 {
    font-size: 13px;
    padding-bottom: 15px;
  }
}
/* ُEnd sidebar  */
/* Start Content Head */
.content {
  overflow: hidden;
}
.head .search::before {
  font-size: 14px;
  font-family: "FontAwesome";
  content: "\f002";
  position: absolute;
  font-weight: 900;
  color: var(--grey-color);
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.head .search input {
  border: 1px solid #ccc;
  width: 160px;
  border-radius: 10px;
  padding-left: 30px;
  margin-left: 5px;
  transition: width 0.3s;
}
.head .search input:focus {
  width: 200px;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .icons .noti::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  height: 3px;
  left: 0;
}
.page h1::before {
  background: white;
  width: 120px;
}
.page h1::after {
  background: black;
  width: 40px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* Start Content Head */
/* Start Welcome  */
.welcome {
  overflow: hidden;
}
.welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 20px;
  border: 2px solid white;
  box-shadow: 0 0 5px #ddd;
  margin-top: -32px;
  padding: 2px;
}
.welcome .body {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.welcome .body > div {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30p;
  }
  .welcome .avatar {
    margin-left: 0;
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* End Welcome  */
/*  Start Draft widget */
.quick-draft textarea {
  resize: none;
  height: 180px;
}
.quick-draft .save {
  margin-left: auto;
  cursor: pointer;
  transition: 0.3s;
}
.quick-draft .save:hover {
  background-color: var(--blue-alt-color);
}
/*  End Draft widget */
/* Start Target  */
.target .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.target .details {
  flex: 1;
}
.target .details .progress {
  height: 4px;
}

.target .details .progress > span {
  left: 0;
  position: absolute;
  height: 100%;
  top: 0;
}
.target .details .progress > span span {
  font-size: 13px;
  position: absolute;
  bottom: 16px;
  color: white;
  padding: 2px 5px;
  border-radius: 6px;
  right: -16px;
}
.target .details .progress > span span::after {
  left: 50%;
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-width: 5px;
  bottom: -10px;
  transform: translateX(-50%);
}
.target .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.target .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.target .details .progress > .green span::after {
  border-top-color: var(--green-color);
}
.blue .icon,
.blue .progress {
  background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .progress {
  background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .progress {
  background-color: rgb(34 197 94 / 20%);
}
/* ُEnd Target  */
/* Start tickets */
.tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}
/* End tickets */
/* Start news  */
.news .news-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.news .news-row img {
  width: 100px;
  border-radius: 6px;
  margin-right: 15px;
}
.news .news-row .info {
  flex-grow: 1;
}
.news .info h3 {
  margin: 0 0 6px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .news .news-row {
    display: block;
  }
  .news .news-row .label {
    margin: 10px auto;
    width: fit-content;
  }
}
/* End news  */
/* Start tasks  */
.tasks-row:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.tasks-row .info {
  flex-grow: 1;
}
.tasks-row .delete {
  cursor: pointer;
  transition: 0.3s;
}
.tasks-row .delete:hover {
  color: var(--red-color);
}
.tasks-row.done {
  opacity: 0.3;
}
.tasks-row.done h3,
.tasks-row.done p {
  text-decoration: line-through;
}
/* End tasks  */
/* Start Search  */
/* End Search  */
/* Start uploads */
.uploads ul li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.uploads ul li img {
  width: 40px;
  height: 40px;
}
/* End uploads */
/* Start Last Project  */
.last-project ul::before {
  content: "";
  position: absolute;
  left: 11px;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
}
.last-project ul li.done::before {
  background-color: var(--blue-color);
}
.last-project ul li.curent::before {
  animation: change-color 0.8s infinite alternate;
}
.last-project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 15px;
  background: white;
  border-radius: 50%;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  z-index: 1;
}

.last-project .launch-icon {
  position: absolute;
  width: 160px;
  bottom: 0;
  right: 0;
  opacity: 0.1;
}
/* End Last Project  */
/* Start Reminders */

.reminder li .key {
  width: 15px;
  height: 15px;
}
.reminder ul li > .blue {
  border-left: 2px solid var(--blue-color);
}
.reminder ul li > .green {
  border-left: 2px solid var(--green-color);
}
.reminder ul li > .orange {
  border-left: 2px solid var(--orange-color);
}
.reminder ul li > .red {
  border-left: 2px solid var(--red-color);
}
/* End Reminders */
/* Start Last post  */
.latest-post .Post-content {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  line-height: 1.8;
  text-transform: capitalize;
  min-height: 140px;
}
.latest-post .top img {
  width: 48px;
  height: 48px;
}
/* End Last post  */
/* Start social  */
.social-stats .box {
  padding-left: 70px;
}
.social-stats .twitter {
  color: #1da1f2;
  background-color: rgb(29 161 242 / 20%);
}
.social-stats .facebook {
  background-color: rgb(24 119 242 / 20%);
  color: #1da1f2;
}
.social-stats .youtube {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}
.social-stats .linkedin {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}
.social-stats .twitter i,
.social-stats .twitter a {
  background-color: #1da1f2;
}
.social-stats .facebook i,
.social-stats .facebook a {
  background-color: #1877f2;
}
.social-stats .youtube i,
.social-stats .youtube a {
  background-color: #ff0000;
}
.social-stats .linkedin i,
.social-stats .linkedin a {
  background-color: #0077b5;
}
.social-stats .box i:hover {
  transform: rotate(5deg);
}
.social-stats .box i {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  transition: 0.3s;
}
/* End social  */
/* Start Project  */
.projects .responsive-table {
  overflow-x: auto;
}
.projects table td {
  padding: 15px;
}
.projects table {
  min-width: 1000px;
  border-spacing: 0;
}
.projects table thead td {
  background-color: #eee;
  font-weight: bold;
}
.projects table img:not(:first-child) {
  margin-left: -20px;
}
.projects table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.projects tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: 0.3;
}
.projects tbody tr:hover {
  background-color: #faf7f7;
}
/* End Project  */
/* Start Setting  */
.setting-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .setting-page {
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.close-massage {
  border: 1px solid #ccc;
  resize: none;
  height: 160px;
}
.setting-page .email {
  display: inline-flex;
  width: calc(100% - 80px);
}
.setting-page .sec-box:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.setting-page .buttn {
  transition: 0.3s;
}
.setting-page .buttn:hover {
  background-color: var(--blue-alt-color);
}
.setting-page .social-boxs i {
  width: 40px;
  height: 40px;
  background: #f6f6f6;
  border: 1px solid #ddd;
  transition: 0.3s;
  border-radius: 6px 0 0 6px;
  border-right: none;
}
.setting-page .social-boxs input {
  height: 40px;
  border: 1px solid #ddd;
  background: #f6f6f6;
  border-radius: 0 6px 6px 0;
  padding-left: 10px;
}
.setting-page .social-boxs > div:focus-within i {
  color: black;
}

.setting-page .control input {
  -webkit-appearance: none;
  appearance: none;
}
.widgets-control .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.setting-page .control label::before,
.setting-page .control label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  border-radius: 4px;
}
.setting-page .control label:hover::before {
  border-color: var(--blue-alt-color);
}
.setting-page .control label::before {
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
}
.setting-page .control label::after {
  font-family: "FontAwesome";
  content: "\f00c";
  color: white;
  background: var(--blue-color);
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 12px;
  font-weight: 900;
  transform: scale(0) rotate(360deg);
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}
.backup input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.backup .time label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}

.backup .time label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--grey-color);
  border-radius: 50%;
}
.backup .time label::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--blue-color);
  border-radius: 50%;
  left: 5px;
  top: 5px;
  transform: scale(0);
  transition: 0.3s;
}
.backup .time input[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
}
.backup .time input[type="radio"]:checked + label::after {
  transform: scale(1);
}
.backup .servers {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.backup .server {
  border: 2px solid #ccc;
}
@media (max-width: 767px) {
  .backup .servers {
    flex-wrap: wrap;
  }
}
.backup .servers .server label {
  cursor: pointer;
}
.backup .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
}
.toggle-switch {
  width: 78px;
  height: 32px;
  background: #ccc;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.toggle-switch::before {
  font-family: "FontAwesome";
  content: "\f00d";
  position: absolute;
  font-weight: 900;
  background: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 4px;
  left: 4px;
  color: #aaa;
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  left: 50px;
  content: "\f00c";
  color: var(--blue-color);
}
/* End Setting  */
/* Start Profile */
@media (max-width: 767px) {
  .profile-page .overview {
    flex-direction: column;
  }
}
.profile-page .avatar-box {
  width: 300px;
}
@media (min-width: 768px) {
  .profile-page .avatar-box {
    border-right: 1px solid #ccc;
  }
}
.profile-page .avatar-box > img {
  width: 120px;
  height: 120px;
}
.profile-page .avatar-box .level {
  height: 6px;
  overflow: hidden;
  margin: auto;
  width: 70%;
}
.profile-page .avatar-box .level span {
  position: absolute;
  background: var(--blue-color);
  height: 100%;
  border-radius: 6px;
  left: 0;
  top: 0;
}
.profile-page .info-box .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
}
.profile-page .info-box .box:hover {
  background-color: #f9f9f9;
}
.profile-page .info-box h4 {
  font-weight: normal;
}
.profile-page .info-box .box > div {
  min-width: 250px;
  padding: 10px 0 0;
}
.profile-page .info-box .toggle-switch {
  height: 20px;
}
.profile-page .info-box .toggle-checkbox:checked + .toggle-switch::before {
  left: 62px;
}
@media (max-width: 767px) {
  .profile-page .info-box .toggle-switch {
    margin: auto;
  }
}
.profile-page .info-box .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
}
@media (max-width: 767px) {
  .profile-page .other-data {
    flex-direction: column;
  }
}
.profile-page .other-data .skills-card {
  flex-grow: 1;
}
.profile-page .other-data .skills-card ul li {
  padding: 15px 0;
}
.profile-page .other-data .skills-card ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.profile-page .other-data .skills-card ul li span {
  background: #eee;
  display: inline-flex;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
}
.profile-page .other-data .skills-card ul li span:not(:last-child) {
  margin-right: 5px;
}
.profile-page .other-data .activities {
  flex-grow: 2;
}
.profile-page .other-data .activities .activity:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.profile-page .other-data .activities .activity img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .profile-page .activity .date {
    margin-left: auto;
    text-align: right;
  }
}
@media (max-width: 767px) {
  .profile-page .activity {
    flex-direction: column;
  }
  .profile-page .activity img {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .profile-page .activity .date {
    margin-top: 15px;
  }
}
/* End Profile */
/* Start Projects page  */
.projeects-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .projeects-page {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.projeects-page .project .date {
  position: absolute;
  right: 10px;
  top: 10px;
}
.projeects-page .project h4 {
  font-weight: normal;
}
.projeects-page .project .team {
  position: relative;
  min-height: 80px;
}
.projeects-page .project .team a {
  position: absolute;
  left: 0;
  bottom: 0;
}
.projeects-page .project .team a:nth-child(2) {
  left: 25px;
}
.projeects-page .project .team a:nth-child(3) {
  left: 50px;
}
.projeects-page .project .team a:nth-child(4) {
  left: 75px;
}
.projeects-page .project .team a:nth-child(5) {
  left: 100px;
}
.projeects-page .project .team a:hover {
  z-index: 100;
}
.projeects-page .project .team a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
}
.projeects-page .project .do {
  justify-content: flex-end;
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}
@media (max-width: 767px) {
  .projeects-page .project .do,
  .projeects-page .project .info {
    flex-direction: column;
  }
  .projeects-page .project .do span:not(:last-child),
  .projeects-page .project .info .prog {
    margin-bottom: 15px;
  }
}
.projeects-page .project .do span {
  margin-left: 5px;
  padding: 3px 8px;
  width: fit-content;
}
.projeects-page .project .info {
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}
.projeects-page .project .info .prog {
  height: 8px;
  width: 260px;
  position: relative;
  border-radius: 6px;
}
.projeects-page .project .info .prog span {
  position: absolute;
  height: 100%;
  border-radius: 6px;
  top: 0;
  left: 0;
}
/* End Projects page  */
/* Start Courses */
.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .courses-page {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.courses-page .course {
  overflow: hidden;
}
.courses-page .course img.cover {
  max-width: 100%;
}
.courses-page .course img.instructor {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  border: 2px solid white;
}
.courses-page .course .description {
  line-height: 1.8;
}
.courses-page .course .info {
  border-top: 1px solid #eee;
  font-size: 13px;
}
.courses-page .course .title {
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
}
/* End Courses */
/* Start Friends  */
.friends-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .friends-page {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.friends-page .friend .contact {
  position: absolute;
  left: 10px;
  top: 10px;
}
.friends-page .friend .contact i {
  font-size: 13px;
  padding: 10px;
  border-radius: 50%;
  background: #eee;
  cursor: pointer;
  transition: 0.3s;
  color: #666;
}
.friends-page .friend .contact i:hover {
  background-color: var(--blue-color);
  color: white;
}
.friends-page .friend .icons {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.friends-page .friend .icons i {
  margin-right: 5px;
}
.friends-page .friend .icons .vip {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 0;
  font-size: 40px;
  opacity: 0.2;
}
/* End Friends  */
/* Start Files  */
.files-page {
  flex-direction: row-reverse;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .files-page {
    flex-direction: column;
    align-items: normal;
  }
}
.files-page .file-stats {
  min-width: 250px;
}
.files-page .file-stats .icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.files-page .file-stats .size {
  margin-left: auto;
}
.files-page .file-stats .blue {
  background-color: rgb(0 117 255 / 20%);
}
.files-page .file-stats .green {
  background-color: rgb(34 197 94 / 20%);
}
.files-page .file-stats .red {
  background-color: rgb(244 67 54 / 20%);
}
.files-page .file-stats .orange {
  background-color: rgb(245 158 11 / 20%);
}
.files-page .file-stats a {
  padding: 10px 15px;
  margin: 15px auto 0;
  transition: 0.3s;
}
.files-page .file-stats a:hover {
  background-color: var(--blue-alt-color);
}
.files-page .file-stats a:hover i {
  animation: up-go 0.8s infinite;
}
.files-page .files-content .icon img {
  width: 64px;
  height: 64px;
  transition: 0.3s;
}
.files-page .files-content {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.files-page .files-content .icon:hover {
  transform: rotate(5deg);
}
.files-page .files-content .info {
  border-top: 1px solid #eee;
}
/* End Files  */
/* Start Plans  */
.plans-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
  .plans-page {
    grid-template-columns: minmax(250px, 1fr);
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.plans-page .plan .top {
  border: 3px solid white;
  outline: 3px solid transparent;
}
.plans-page .plan.green .top {
  outline-color: var(--green-color);
}
.plans-page .plan.blue .top {
  outline-color: var(--blue-color);
}
.plans-page .plan.orange .top {
  outline-color: var(--orange-color);
}
.plans-page .plan .top .price {
  font-size: 40px;
  position: relative;
  width: fit-content;
  margin: auto;
}
.plans-page .plan .top .price span {
  position: absolute;
  left: -25px;
  top: 0;
  font-size: 25px;
}
.plans-page ul li {
  display: flex;
  align-items: center;
  padding: 15px 0;
  font-size: 15px;
  border-bottom: 1px solid #eee;
}
.plans-page ul li i:first-child {
  font-size: 18px;
  margin-right: 5px;
}

.plans-page ul li .yes {
  color: var(--green-color);
}
.plans-page ul li .help {
  margin-left: auto;
  color: var(--grey-color);
  cursor: pointer;
}
.plans-page ul li i:not(.help, .yes) {
  color: var(--red-color);
}
/* End Plans  */

/* Start Animation  */
@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }

  to {
    background-color: white;
  }
}
@keyframes up-go {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
/* End Animation  */
